.wrap {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $BLACK;
}

.screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}