.black_theme {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $BLACK;
}

.background_group {
  position: absolute;
  width: 120%;
  height: 120vh;
  left: -10%;
  top: -10vh;
  z-index: 1;
}