.container {
    position: relative;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;


 
}

.category {
    max-width: 600px;
    width: 80%;
    height: 60%;
    background-color: #fff;
    position: absolute;
    border: 3px solid red;
    color: black;
    top: 50%;
    left: 50%;
    transition: .5s;
    opacity: 0;
    
    &.s1 {
        z-index: 1;
        transform: scale(0.65) translate(-218%, -0%) rotateZ(-7deg) rotateX(30deg) rotateY(30deg);   
        opacity: 0.3;
    }

    &.s2 {
        z-index: 2;
        transform: scale(0.7) translate(-191%, -10%) rotateZ(-7deg) rotateX(30deg) rotateY(30deg);   
        opacity: 0.6;
    }

    &.s3 {
        transform: translate(-50%, -50%);
        z-index: 3;
        opacity: 1;
        animation: identifier 10s infinite linear;
        animation-delay: .5s;

        @keyframes identifier {
            0% {
                transform: translate(-50%, -50%);
            }
            30% {
                transform: translate(-51%, -49%);
            }
            45% {
                transform: translate(-50%, -50%);
            }
            60% {
                transform: translate(-49%, -51%);
            }
            75% {
                transform: translate(-50%, -50%);
            }
            90% {
                transform: translate(-49%, -51%);
            }
            100% {
                transform: translate(-50%, -50%);
            }
          }
    }

    &.s4 {
        transform: rotateZ(1deg) rotateX(8deg) rotateY(21deg) scale(.8) translate(47%, 18%);
        z-index: 4;
        opacity: 0.6;
    }

    &.s5 {
        transform: rotateZ(1deg) rotateX(8deg) rotateY(21deg) scale(0.9) translate(60%, 30%);
        z-index: 5;
        opacity: 0.3;
    }

    // &:nth-child(1) {
    //     z-index: 1;
    //     transform: scale(0.65) translate(-218%, -132%) rotateZ(-7deg) rotateX(30deg) rotateY(30deg);   
    //     opacity: 0.3;
    // }

    // &:nth-child(2) {
    //     z-index: 2;
    //     transform: scale(0.7) translate(-191%, -112%) rotateZ(-7deg) rotateX(30deg) rotateY(30deg);   
    //     opacity: 0.6;
    // }

    // &:nth-child(3) {
    //     transition: .5s;
    //     &:hover {
    //         transform: scale(0.7) translate(-191%, -112%) rotateZ(-7deg) rotateX(30deg) rotateY(30deg);   
    //     }
        
    // }

    // &:nth-child(4) {
    //     transform: rotateZ(1deg) rotateX(8deg) rotateY(21deg) scale(.8) translate(47%, 18%);
    //     z-index: 4;
    //     opacity: 0.6;
    // }

    // &:nth-child(5) {
    //     transform: rotateZ(1deg) rotateX(8deg) rotateY(21deg) scale(0.9) translate(60%, 30%);
    //     z-index: 5;
    //     opacity: 0.3;
    // }
}