$BLACK: #000000;
$WHITE: #ffffff;
$GRAY: #dadde6;
$RED: #ff0000;

$VALID: #20c828;
$AGREE: #778eff;
$DISABLED: #b1b0aa;
$CANCEL: #ff5656;
$THEME: #ffcc00;
$THEME_LIGHT: #ffe785;
$THEME_BACKGROUND: #fafafa;
$THEME_BORDER: #856b03;
$TEXT: #111111;

$BADGE_GRAY: #9b9b98;
$BADGE_DISABLED: #78b7ff;
$BADGE_DELETED: #ff8acb;

$ADMIN: #88a8ff;
$ADMIN_LIGHT: #c0d0fb;
$MASTER: #ff8080;
$MASTER_LIGHT: #fdb2b2;


$GRAY_1: #626262;
$GRAY_2: #929292;
$GRAY_3: #cacaca;
$GRAY_4: #e9e9e9;