@import 'assets/constant.scss';

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $THEME;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $BLACK;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
}

em,
i,
strong,
p {
  font-style: normal;
  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
section,
ul,
ol,
li,
dl,
dt,
dd,
div,
button,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

#__next {
  width: 100%;
  min-height: 100vh;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
}
