.line {
  display: block;
  width: 100%;
  height: 100%;
}

.background_line {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/images/themes/black/img_background_line.png") no-repeat center;
  background-size: cover;
  z-index: 3;
}


.background_line_over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/images/themes/black/img_background_line_over.png") no-repeat center;
  background-size: cover;
  z-index: 3;
}

.animation_1 {
  animation: line_over_1 10s infinite;
  @keyframes line_over_1 {
    0% {
      filter: hue-rotate(0deg);
      opacity: 0;
    }
    9% {
      opacity: 0;
    }
    10% {
      opacity: .4;
      transform: translate(-1.5%,0%);
    }
    11% {
      opacity: .2;
      transform: translate(1%,1%);
    }
    12% {
      opacity: .7;
      transform: translate(0%,-1%);
    }
    13% {
      opacity: .2;
      transform: translate(-0.5%,0%);
    }
    14% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    19% {
      opacity: 0;
    }
    20% {
      opacity: .4;
      transform: translate(0%,-1%);
    }
    21% {
      opacity: .2;
      transform: translate(0%,1.5%);
    }
    22% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    23% {
      opacity: .2;
      transform: translate(0%,-0.5%);
    }
    24% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    29% {
      opacity: 0;
    }
    31% {
      opacity: .7;
    }
    32% {
      opacity: .7;
    }
    33% {
      opacity: .2;
      transform: translate(0%,-0.5%);
    }
    34% {
      opacity: .6;
      transform: translate(1%,0%);
    }
    35% {
      opacity: .2;
      transform: translate(-0.5%,1%);
    }
    36% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    44% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    45% {
      opacity: .5;
      transform: translate(0.5%,-1%);
    }
    46% {
      opacity: .2;
      transform: translate(-0.5%,0.5%);
    }
    47% {
      opacity: .6;
      transform: translate(1%,-0.5%);
    }
    48% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    79% {
      filter: hue-rotate(1000deg);
      transform: translate(0%,0%);
      opacity: 0;
    }
    80% {
      opacity: .7;
      transform: translate(1%,0.5%);
    }
    81% {
      opacity: .2;
      transform: translate(-1%,-0.5%);
    }
    82% {
      opacity: .4;
      transform: translate(0%,1%);
    }
    83% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    84% {
      opacity: .6;
      transform: translate(2%,0%);
    }
    85% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    86% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    100% {
      opacity: 0;
      transform: translate(0%,0%);
      filter: hue-rotate(1000deg);
    }
  }
}
.animation_2 {
  animation: line_over_2 10s infinite;
  @keyframes line_over_2 {
    0% {
      filter: hue-rotate(300deg);
      opacity: 0;
    }
    9% {
      opacity: 0;
    }
    10% {
      opacity: .4;
      transform: translate(-0.4%,0%);
    }
    11% {
      opacity: .2;
      transform: translate(0.2%,0%);
    }
    12% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    13% {
      opacity: .2;
      transform: translate(-0.1%,0%);
    }
    14% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    19% {
      opacity: 0;
    }
    20% {
      opacity: .4;
      transform: translate(0%,-0.4%);
    }
    21% {
      opacity: .2;
      transform: translate(0%,0.5%);
    }
    22% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    23% {
      opacity: .2;
      transform: translate(0%,-0.2%);
    }
    24% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    29% {
      opacity: 0;
    }
    31% {
      opacity: .7;
    }
    32% {
      opacity: .7;
    }
    33% {
      opacity: .2;
      transform: translate(0%,-0.2%);
    }
    34% {
      opacity: .6;
      transform: translate(0.4%,0%);
    }
    35% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    36% {
      opacity: .5;
      transform: translate(-1%,1%);
    }
    37% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    40% {
      opacity: 0;
    }
    41% {
      opacity: .3;
      transform: translate(1%,0%);
    }
    42% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    43% {
      opacity: .4;
      transform: translate(0.5%,-1%);
    }
    44% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    45% {
      opacity: .8;
      transform: translate(-1%,0%);
    }
    46% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    79% {
      filter: hue-rotate(1200deg);
      opacity: 0;
    }
    80% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    81% {
      opacity: .1;
      transform: translate(0%,-0.1%);
    }
    82% {
      opacity: .5;
      transform: translate(0%,2%);
    }
    83% {
      opacity: .3;
      transform: translate(0%,0%);
    }
    84% {
      opacity: .5;
      transform: translate(-2%,0%);
    }
    85% {
      opacity: .1;
      transform: translate(0%,0%);
    }
    86% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    100% {
      opacity: 0;
      transform: translate(0%,0%);
      filter: hue-rotate(500deg);
    }
  }
}
.animation_3 {
  animation: line_over_3 10s infinite;
  @keyframes line_over_3 {
    0% {
      filter: hue-rotate(2000deg);
      opacity: 0;
    }
    9% {
      opacity: 0;
    }
    10% {
      opacity: .4;
      transform: translate(1%,0%);
    }
    11% {
      opacity: .2;
      transform: translate(-1%,0%);
    }
    12% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    13% {
      opacity: .2;
      transform: translate(0.5%,0%);
    }
    14% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    19% {
      opacity: 0;
    }
    20% {
      opacity: .4;
      transform: translate(0%,1%);
    }
    21% {
      opacity: .2;
      transform: translate(0%,-1.5%);
    }
    22% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    23% {
      opacity: .2;
      transform: translate(0%,0.5%);
    }
    24% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    29% {
      opacity: 0;
    }
    31% {
      opacity: .7;
    }
    32% {
      opacity: .7;
    }
    33% {
      opacity: .2;
      transform: translate(0%,0.5%);
    }
    34% {
      opacity: .6;
      transform: translate(-2%,0%);
    }
    35% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    40% {
      opacity: 0;
    }
    42% {
      opacity: .3;
      transform: translate(-1%,0%);
    }
    43% {
      opacity: .1;
      transform: translate(0.5%,-1%);
    }
    44% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    45% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    79% {
      filter: hue-rotate(200deg);
      opacity: 0;
    }
    80% {
      opacity: .7;
      transform: translate(0%,0%);
    }
    81% {
      opacity: .5;
      transform: translate(0%,0.5%);
    }
    82% {
      opacity: .5;
      transform: translate(0%,0.5%);
    }
    83% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    84% {
      opacity: .6;
      transform: translate(-2%,0%);
    }
    85% {
      opacity: .7;
      transform: translate(0%,-1%);
    }
    86% {
      opacity: 0;
      transform: translate(0%,0%);
    }
    100% {
      opacity: 0;
      transform: translate(0%,0%);
      filter: hue-rotate(700deg);
    }
  }
}

